body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f1f1f;
    padding: 15px 40px;
}

nav h1 {
    color: #00e5ff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav li {
    cursor: pointer;
    transition: 0.3s;
}

nav li:hover {
    color: #00e5ff;
}

section {
    display: none;
    padding: 50px;
    text-align: center;
}

section.active {
    display: block;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #00e5ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

button:hover {
    background: #00bcd4;
}

h2 {
    color: #00e5ff;
}
